FACEBOOK_APP_ID="153067022116211"
FACEBOOK_APP_SECRET="4988495b7a3146de6bfcca6c32ffe78b"
GOOGLE_APP_ID="149970855521-aqdtmfuv016v2vd3octjt51mn2c6c2p9.apps.googleusercontent.com"
GOOGLE_APP_SECRET="VczNLMsyn0eeOh97xsT0WT0X"
TWITTER_APP_ID="4mNdkZKgybzxMVX4UjNvw7PIM"
TWITTER_APP_SECRET="4YTJZVtAUuklxcsaSgDDkzSJF037HNLYZbkpBb2XzBTAvP0ECs"
